# Python
.venv/
__pycache__/
.mypy_cache/

# Check
*.chk

# reStructuredText
*.rst

# Markdown
*.md
!Readme.md

# HTML
*.html
*.json

# PDF
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.tex

# Sphinx
sphinx/
