:root {
	--vseth-cyan:  #009FE9;
	--vseth-white: #FFFFFF;
	--vseth-black: #222222;
}

body {
	counter-reset: article;
	font-family: "Source Sans Pro";
	width: 1000px;
	margin: auto;
}

q {
	quotes: "«" "»" "‹" "›";
}

h1 {
	counter-reset: section;
}

h2 {
	counter-increment: section;
	counter-reset: subsection;
}

h2::before {
	content: counter(section) ". ";
}

h3 {
	counter-increment: subsection;
	counter-reset: subsubsection;
}

h3::before {
	content: counter(section) "." counter(subsection) ". ";
}

h4 {
	counter-increment: subsubsection;
}

h4::before {
	content: counter(section) "." counter(subsection) "." counter(subsubsection) ". ";
}

h5 {
	counter-increment: article;
}

h5::before {
	content: "Art. " counter(article) ". ";
}

ol.paragraphs {
	list-style: none;
	counter-reset: paragraphs;
	padding: 0;
	margin: 0;
}

ol.paragraphs > li {
	counter-increment: paragraphs;
}

ol.paragraphs > li::before {
	content: counter(paragraphs) " ";
	/* font-variant-position: sup; */
	/* vertical-align: super; */
	position: relative;
	top: -0.5rem;
	font-size: smaller;
	line-height: normal;
}

ol.letters {
	list-style: none;
	counter-reset: letters;
	/* padding: 0; */
}

ol.letters > li {
	counter-increment: letters;
}

ol.letters > li::before {
	content: counter(letters, lower-alpha) ") ";
}

/*
ol.letters > li::after {
	content: ";";
}

ol.letters > li:last-child::after {
	content: ".";
}
*/

ol.numerals {
	list-style: none;
	counter-reset: numerals;
	/* padding: 0; */
}

ol.numerals > li {
	counter-increment: numerals;
}

ol.numerals > li::before {
	content: counter(numerals, lower-latin) ") ";
}
