{#
 # Template for SUMMARY.md for an mdBook
 #
 # This functions as an index for the mdBook.
 # A regulation is put in a deeper level in the hierarchy if it has a dot in the id.
 #}
# VSETH Rechtssammlung

<a href="/{{bylaws.filename}}.pdf" target="_blank" rel="noopener noreferrer">PDF-Version</a>

Willkommen in der Rechtssammlung des VSETH! Hier finden sie die Statuten sowie alle Reglemente
und Verordnungen des VSETH.

{% for regl in bylaws.regulations %}
{% if '.' in regl.id %}    {% endif %}- [{{regl.id}} {{regl.title}}]({{regl.filename}}.md)
{% endfor %}