{% macro section(sec) %}
## {{ sec.number }}. {{sec.title}}

{% for art in sec.articles %}
{{ article(art) }}
{% endfor %}
{% for subsec in sec.subsections%}
{{ subsection(subsec) }}
{% endfor%}
{% endmacro %}

{% macro subsection(subsec) %}
### {{ subsec.number }}. {{subsec.title}}

{% for art in subsec.articles %}
{{ article(art) }}
{% endfor %}
{% for subsubsec in subsec.subsubsections%}
{{ subsubsection(subsubsec) }}
{% endfor%}
{% endmacro %}

{% macro subsubsection(subsubsec) %}
### {{ subsubsec.number }}. {{subsubsec.title}}

{% for art in subsubsec.articles %}
{{ article(art) }}
{% endfor %}
{% endmacro %}

{% macro article(art) -%}
<article id="art_{{ art.number }}">  

**Art. {{ art.number }} {{ art.title }}**

{% if art.text | length > 0%}
    {{- set_text(art.text) }}
{% endif -%}
{% if art.letters | length > 0 %}
<ol class="letters">
    {%- for lit in art.letters %}
        {{ letter(lit) }}
    {%- endfor %}
</ol>
{%- if art.letter_tail is not none %}{{art.letter_tail}}{% endif %}
    {% endif %}
    {% for abs in art.paragraphs %}
        {{ paragraph(abs) }}
    {% endfor %}
</article>
{% endmacro%}

{% macro paragraph(abs) %}
<sup>{{ abs.number }}</sup>
    {%- if abs.text | length > 0 -%}
{{ set_text(abs.text) }}
    {%- endif -%}
    {%- if abs.letters | length > 0 %}
    <ol class="letters">
        {%- for lit in abs.letters -%}
        {{ letter(lit) }}
        {%- endfor %}
</ol>
    {%- if abs.letter_tail is not none %}{{ abs.letter_tail}}{% endif %}
    {% endif %}
{% endmacro %}

{% macro letter(lit) %}
<li>
{% if lit.text | length > 0 -%}
    {{ set_text(lit.text) }}
{% endif -%}
    {% for num in lit.numerals %}
    {{ numeral(num) }}
    {% endfor %}
</li>
{% endmacro %}

{% macro numeral(num) %}
1. {% if num.text | length > 0 -%}
{{ set_text(num.text) }}
{%- endif -%}
{% endmacro %}

{%- macro set_text(text_elems, trim=True) -%}
    {%- for elem in text_elems -%}
        {%- if elem is string -%}
{% if trim %}{{ elem|trim }}{% else %}{{ elem }}{% endif %}
        {%- elif "Link" in elem.__class__.__name__ %}
[{{elem.link_text}}]({{elem.to}}){%- if elem.tail|length > 0 %}{{ set_text(elem.tail, trim=False) }}{%- endif -%}
        {%- elif "Quote" in elem.__class__.__name__ %}
<q>{{ elem.quote|trim }}</q>{%- if elem.tail|length > 0 %}{{ set_text(elem.tail, trim=False) }}{%- endif -%}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}

<style>
.letters {
    list-style-type: lower-latin;
}
</style>


# {{regl.title}}

**RSVSETH {{regl.id}}
{%- if regl.short is not none or regl.abbrev is not none -%} (
    {%- if regl.short is not none -%}{{regl.short}}{%- endif -%}
    {%- if regl.short is not none and regl.abbrev is not none -%}; {% endif %}
    {%- if regl.abbrev is not none -%}{{regl.abbrev}}{%- endif -%})
{%- endif -%}**

{% if regl.preamble is defined%}
*{{- regl.preamble.text|trim -}}*
{% endif %}

{% for art in regl.articles %}
Art.
{{ article(art) }}
{% endfor %}
{% for sec in regl.sections %}
{{ section(sec)}}
{% endfor%}
