{#
 # Template for individual regulations in an mdBook
 # 
 # This template is organized into the document body at the bottom and a set of macros
 # for all the different classes in bylaws at the top.
 #
 # Since this generated Markdown you mus be *extremely* careful with whitespace. If the
 # indentation seems weird to you then this is most probably intentional and changing it
 # will lead to funny/garbled output. You probably want to read the whitespace control 
 # section in the Jinja documentation: https://jinja.palletsprojects.com/en/3.1.x/templates/#whitespace-control
 #}


{#
 # Section
 #}
{% macro section(sec) %}
## {{ sec.number }}. {{sec.title}}

{% for art in sec.articles -%}
{{ article(art) }}
{%- endfor %}
{%- for subsec in sec.subsections -%}
{{ subsection(subsec) }}
{% endfor -%}
{%- endmacro -%}

{# 
 # Subsection
 #}
{% macro subsection(subsec) %}
### {{ subsec.sec }}.{{ subsec.number }}. {{subsec.title}}

{% for art in subsec.articles -%}
{{ article(art) }}
{%- endfor %}
{%- for subsubsec in subsec.subsubsections -%}
{{ subsubsection(subsubsec) }}
{% endfor -%}
{%- endmacro -%}

{# 
 # Subsubsection
 #}
{% macro subsubsection(subsubsec) %}
#### {{subsubsec.sec }}.{{subsubsec.subsec }}.{{ subsubsec.number }}. {{subsubsec.title}}

{% for art in subsubsec.articles -%}
{{ article(art) }}
{% endfor -%}
{%- endmacro -%}

{# 
 # Articles
 #}
{% macro article(art) -%}
<article id="art_{{ art.number }}{{ art.inserted_number | num2letter }}">  

**Art. {{ art.number }}{{ art.inserted_number | num2letter }}{{ changeFootnoteMark(art) }} {{ art.title }}**
<a href="#art_{{ art.number }}{{ art.inserted_number | num2letter }}" title="Link zu Art. {{art.number}}{{ art.inserted_number | num2letter }} {% if regl.short is not none %}{{regl.short}}{% else %}{{ regl.title }}{% endif %}">
    <i id="art_link" class="fa fa-link"></i>
</a>   
{{ set_text(art.text) }}

{%- if art.letters | length > 0 %}
<dl class="letters">
    {%- for lit in art.letters -%}
        {{ letter(lit) }}
    {%- endfor -%}
</dl>
{% endif -%}

{%- for abs in art.paragraphs -%}
{{ paragraph(abs) }}   
{%- endfor %}
{{ footnotes(art.footnotes) }}
</article>
{% endmacro%}

{# 
 # Paragraphs
 #}
{%- macro paragraph(abs) -%}
<sup>{{ abs.number }}{{ abs.inserted_number | num2latin }}</sup> {{ set_text(abs.text) }}{{ changeFootnoteMark(abs) }}  {% if abs.letters | length > 0 %}{# Needs to be on the same line #}
<dl class="letters">
{%- for lit in abs.letters -%}
{{ letter(lit) }}
{%- endfor -%}
</dl>
{% endif %}
{% endmacro %}

{# 
 # Letters
 #}
{% macro letter(lit) -%}
<dt>{{ lit.number | num2letter }}{% if lit.inserted %}<sup>{{ lit.inserted_number | num2latin }}</sup>{% endif %}.</dt>
<dd>
<div>{{ set_text(lit.text) }}{{ changeFootnoteMark(lit) }}</div>
{%- if lit.numerals | length > 0 %}
<dl class="numeral">
{% for num in lit.numerals -%}
{{ numeral(num) }}
{%- endfor -%}
</dl>
{%- endif %}
</dd>
{% endmacro %}

{# 
 # Numerals
 #}
{% macro numeral(num) -%}
<dt>{{ num.number }}{% if num.inserted %}<sup>{{ num.inserted_number | num2latin }}</sup>{% endif %}.</dt>
<dd>{{ set_text(num.text) }}{{ changeFootnoteMark(num) }}</dd>
{% endmacro %}

{% macro footnotes(fns) -%}
{% if fns|count > 0 -%}
<div class="footnotes">
{% for fn in fns -%}
{% if "Footnote" == fn.__class__.__name__ -%}
{{ footnote(fn) }}
{% elif "ChangeFootnote" == fn.__class__.__name__ -%}
{{ changeFootnote(fn) }}
{% endif %}
{% endfor -%}
</div>
{% endif -%}
{% endmacro%}

{% macro footnote(fn) %}
<sup>{{ fn.number }}</sup> {{ fn.text }}
{% endmacro %}

{# 
 # Change Footnote Mark
 # The change footnote mark is typeset separately for every structural element as it needs to go in
 # a specific place. This macro renders an empty string if an element does not have a change footnote.
 #}
{% macro changeFootnoteMark(elem) -%}
{% if elem.changeFootnote -%}
{% if elem.changeFootnote.action == "deleted" %}...{% endif %}<sup>{{ elem.changeFootnote.number }}</sup>
{%- endif -%}
{% endmacro %}

{#
 # Change Footnote
 # Renders the change footnote itself in all its glory.
 #}
{% macro changeFootnote(fn) %}
<sup>{{ fn.number }}</sup> {{ fn.action_str | trim }} Beschluss {{ fn.gremium_str | trim }} in Traktandum {{ fn.agenda_item | trim }} in der Sitzung vom {{ fn.meeting_date | format_date }}
{%- if fn.motion_link and fn.minutes_link %}
 ([Antrag]({{ fn.motion_link }}), [Protokoll]({{ fn.minutes_link }}))
{%- elif fn.motion_link %}
 ([Antrag]({{ fn.motion_link }}))
{%- elif fn.minutes_link %}
 ([Protokoll]({{ fn.minutes_link }}))
{%- endif -%}
, {{ fn.effect_str }} seit {{ fn.implementation_date | format_date }}.
{%- endmacro %}


{# 
 # Setting text elements
 # In almost all cases we want trim=True. But when we set the tail
 # (i.e. text after quote) we have to keep any leading spaces and
 # therefore have to use trim=False.
 #}
{%- macro set_text(text_elems, trim=True) -%}
    {%- for elem in text_elems -%}
        {%- if elem is string -%}
{%- if trim -%}{{- elem|trim -}}{%- else %}{{ elem | trim("\t\n") -}}{%- endif -%}
        {%- elif "Link" == elem.__class__.__name__ %}
[{{elem.link_text}}]({{elem.to}}){{ set_tail(elem.tail) -}}
        {%- elif "Quote" == elem.__class__.__name__ %}
<q>{{ elem.quote|trim }}</q>{{ set_tail(elem.tail) -}}
        {%- elif "Footnote" == elem.__class__.__name__ -%}
<sup>{{ elem.number }}</sup>{{ set_tail(elem.tail) -}}
        {%- elif "ChangeFootnote" == elem.__class__.__name__ %}
{#- The footnote mark for change footnotes is set specifically for each structural element. -#}
{{ set_tail(elem.tail) -}}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}

{%- macro set_tail(tail) -%}
{%- if tail | length > 0 %}{{ set_text(tail, trim=False) -}}
{%- endif -%}
{%- endmacro -%}

{# 
 # Document Body
 #}
# {{regl.title}}

{# Subtitle with id and short title#}
**RSVSETH {{regl.id}}
{%- if regl.short is not none or regl.abbrev is not none %} (
    {%- if regl.short is not none -%}{{regl.short}}{%- endif -%}
    {%- if regl.short is not none and regl.abbrev is not none -%}; {% endif %}
    {%- if regl.abbrev is not none -%}{{regl.abbrev}}{%- endif -%})
{%- endif -%}**

<a href="/{{regl.filename}}.pdf" target="_blank" rel="noopener noreferrer">
    <i class="fa fa-file"></i> PDF-Version
</a>

{% if regl.preamble is defined %}
*{{ set_text(regl.preamble.text) }}{{ changeFootnoteMark(regl.preamble) }}*
{{ footnotes(regl.preamble.footnotes) }}
{%- endif -%}

{% for art in regl.articles %}
{{ article(art) }}
{% endfor %}
{% for sec in regl.sections %}
{{ section(sec)}}
{% endfor%}
