/* Special css for a non-shitty legal layout */

dl {
    display: inline-block;
    margin-top: 4px;
    margin-left: 20px;
    margin-bottom: 0;
    padding: 0;
}

dt {
    clear: left;
    float: left;
    line-height: 1.6;
}

dd {
    line-height: 1.6;
    min-height: 1.7rem;
    margin-left: 50px;
    clear: right;
}

article {
    margin-bottom: 1.5rem;
}

p.para {
    margin-top: 5px;
    margin-bottom: 5px;
}

.footnotes {
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

.footnotes p, article p {
    margin: 0;
}

h2 ~ .footnotes,
h3 ~ .footnotes,
h4 ~ .footnotes {
    margin-top: -1rem;
    margin-bottom: 1.4rem;
}