((#
  # Template for a LaTeX regulation
  #
  # Since LaTeX does not play nicely with {% %}, use ((* *))
  #))

((* from "macros.tex.j2" import header, section, subseciton, subsubsection, article, paragraph, letter, numeral, changeFootnoteMark, changeFootnote, set_text, set_tail with context *))

(( header(asset_path, False) ))

\begin{document}
\begin{titlepage}
    \centering
    \hspace{0pt}
    \vfill
    \includesvg[width=0.5\linewidth]{(( asset_path ))/vseth_Logo_bylines_Verband.svg}
    \par
    {\usekomafont{title} \textbf{(( bylaws.title | escape_tex ))} \par }
    {\usekomafont{subtitle} (( bylaws.date_last_update | format_date )) \par }
    \vfill
\end{titlepage}

\tableofcontents

((* for regl in bylaws.regulations *))
((* set shortid *))
  ((*- if regl.abbrev is not none -*))(( regl.abbrev | escape_tex )); ((* endif *))(( regl.id | escape_tex -))
((* endset *))
((* set subtitle *))
  ((*- if regl.short is not none -*))(( regl.short | escape_tex ))((*- endif -*))
  ((*- if regl.short is not none and regl.abbrev is not none -*)); ((* endif *))
  ((*- if regl.abbrev is not none -*))(( regl.abbrev | escape_tex ))((*- endif -*))
((* endset *))
((* if regl.short is not none *))
\chapter*{(( regl.title | escape_tex ))}
\vspace*{-0.5cm}
{\usekomafont{subtitle} ((- subtitle )); RSVSETH (( shortid | escape_tex -))}
\addtocentrydefault{chapter}{}{(( regl.short | escape_tex )) (RSVSETH (( shortid | escape_tex -)) )}
((* else *))
\chapter*{(( regl.title | escape_tex ))}
\vspace*{-0.5cm}
{\usekomafont{subtitle} RSVSETH (( shortid | escape_tex -))}
\addtocentrydefault{chapter}{}{(( regl.title | escape_tex )) (RSVSETH (( shortid | escape_tex -)) )}
((* endif *))
\stepcounter{chapter}

((* if regl.preamble is defined *))
\emph{((- set_text(regl.preamble.text) -))(( changeFootnoteMark(regl.preamble.changeFootnote) ))(( changeFootnote(regl.preamble.changeFootnote) ))}
((* endif *))

((* for art in regl.articles -*))
((- article(art) ))
((* endfor *))
((* for sec in regl.sections -*))
((- section(sec) -))
((* endfor *))
((* endfor *))
\end{document}