
((* macro titlepage(title, asset_path, id=None, subtitle=None) -*))
\begin{titlepage}
    \centering
    \hspace{0pt}
    \vfill
    \includesvg{(( asset_path ))/vseth_Logo_bunt.svg}
    \par
    {\Huge \textbf{(( title | escape_tex ))} \par }
    ((* if subtitle is not none and id is not none *))
    {\LARGE \textbf{RSVSETH (( id | escape_tex ))} ( ((- subtitle | escape_tex -)) )}
    ((* elif subtitle is none and id is not none *))
    {\LARGE \textbf{RSVSETH (( id | escape_tex ))}}
    ((* endif *))
    {\LARGE \today \par }
    \vfill
\end{titlepage}
((* endmacro *))

((* macro section(sec) -*))
\section{(( sec.title | escape_tex ))}
\nobreak

((* for art in sec.articles -*))
((- article(art) ))
((* endfor *))
((* for subsec in sec.subsections -*))
(( subsection(subsec) -))
((* endfor -*))
((* endmacro *))

((* macro subsection(subsec) -*))
\subsection{(( subsec.title | escape_tex ))}
\nobreak

((* for art in subsec.articles -*))
((- article(art) ))
((* endfor *))
((* for subsubsec in subsec.subsubsections -*))
(( subsubsection(subsubsec) -))
((* endfor -*))
((* endmacro *))

((* macro subsubsection(subsubsec) -*))
\subsubsection{(( subsubsec.title | escape_tex ))}
\nobreak

((* for art in subsubsec.articles -*))
((- article(art) ))
((* endfor -*))
((* endmacro -*))
j

((* macro article(art) -*))
\begin{article}{(( art.number | escape_tex ))(( art.inserted_number | num2letter))((- changeFootnoteMark(art.changeFootnote) ))}{(( art.title | escape_tex ))}(( changeFootnote(art.changeFootnote) ))
  \\\nopagebreak (( set_text(art.text) ))\nopagebreak
  ((* if art.letters | length > 0 -*))
  \vspace{-\parskip}\vspace{\partopsep}\begin{letters}
  ((* for lit in art.letters -*))
    ((- letter(lit) -))
  ((* endfor -*))
  \end{letters}
  ((* endif -*))
  ((*- if art.paragraphs | length > 0 -*))
  \vspace{-2\parskip}\vspace{\partopsep}\begin{paragraphs}
    ((* for abs in art.paragraphs *))
    ((- paragraph(abs) -))\nopagebreak
    ((* endfor -*))
  \end{paragraphs}
  ((* endif -*))
\end{article}
((* endmacro *))

((* macro paragraph(abs) -*))
((* if abs.inserted_number == 1 *))
\begin{insertedparagraphs}
((*- endif -*))
((*- if abs.ended_inserted *))
\end{insertedparagraphs}
((*- endif *))
\item (( set_text(abs.text) -))

  ((*- if abs.letters | length > 0 *))
  \begin{letters}
  ((* for lit in abs.letters -*))
    ((- letter(lit) -))
  ((* endfor -*))
  \end{letters}
  ((* endif *))
((* endmacro *))


((* macro letter(lit) -*))
((* if lit.inserted_number == 1 *))
\begin{insertedletters}
((*- endif -*))
((*- if lit.ended_inserted *))
\end{insertedletters}
((*- endif *))
\item (( set_text(lit.text) -))

  ((*- if lit.numerals | length > 0 *))
  \begin{numerals}
  ((* for num in lit.numerals -*))
    ((- numeral(num) -))
  ((* endfor -*))
  \end{numerals}
  ((* endif *))
((* endmacro *))

((* macro numeral(num) -*))
((* if num.inserted_number == 1 *))
\begin{insertednumerals}
((*- endif -*))
((*- if num.ended_inserted *))
\end{insertednumerals}
((*- endif *))
\item (( set_text(num.text) -))
((* endmacro *))

((* macro changeFootnoteMark(chng) -*))
((*- if chng -*))
\footnotemark
((*- endif *))
((*- endmacro *))

((* macro changeFootnote(chng) -*))
((*- if chng -*))
\footnotetext{(( chng.action_str | trim | escape_tex )) Beschluss (( chng.gremium_str | trim | escape_tex )) in Traktandum (( chng.agenda_item | trim | escape_tex)) in der Sitzung vom (( chng.meeting_date | format_date )), in Kraft seit (( chng.implementation_date | format_date )).}
((*- endif -*))
((*- endmacro *))

((*- macro set_text(text_elems, trim=True) -*))
  ((*- for elem in text_elems -*))
    ((*- if elem is string -*))
((* if trim *))(( elem | trim | escape_tex ))((* else *))(( elem | escape_tex ))((* endif *))
    ((*- elif "Link" == elem.__class__.__name__ *))
\href{(( elem.to ))}{(( elem.link_text | escape_tex ))}(( set_tail(elem.tail) ))
    ((*- elif "Quote" == elem.__class__.__name__ *))
``(( elem.quote | trim | escape_tex ))''(( set_tail(elem.tail) ))
    ((*- elif "Footnote" == elem.__class__.__name__ -*))
\footnote{(( elem.footnote | trim | escape_tex))}(( set_tail(elem.tail) ))
    ((*- elif "ChangeFootnote" == elem.__class__.__name__ *))
      ((*- if elem.action == "deleted" -*))
\textellipsis
      ((*- else -*))
(( set_text(elem.tail) ))
      ((*- endif -*))
    ((*- endif -*))
  ((*- endfor -*))
((*- endmacro -*))

((*- macro set_tail(tail) -*))
((*- if tail | length > 0 -*))
(( set_text(tail, trim=False) ))
((*- endif -*))
((*- endmacro -*))

((* macro header() *))
\documentclass{scrreprt}
\KOMAoptions{DIV = 14, chapterentrydots, parskip}
\usepackage[utf8]{inputenc}
\usepackage[OT1]{fontenc}
\usepackage{microtype}
\usepackage[all]{nowidow}
\usepackage{enumitem}
\usepackage{graphicx}
\usepackage{svg}
\usepackage[default,regular,bold]{sourcesanspro}
\usepackage[hidelinks]{hyperref}
\setcounter{secnumdepth}{3}
\renewcommand*{\thesection}{\arabic{section}}
\RedeclareSectionCommand[afterskip=0pt, runin=false, tocindent=1em, tocnumwidth=1.25em]{section}
\RedeclareSectionCommand[afterskip=0pt, runin=false, tocindent=3.25em, tocnumwidth=2em]{subsection}
\RedeclareSectionCommand[afterskip=0pt, runin=false]{subsubsection}

% Define a counter representation (like arabic) for latin numerals (from chapter 8 of the enumitem manual)
% The numerals are arbitrarily limited to 12 as everything above is both too wide and too unreasonable for
% mhaessig's taste.
\makeatletter
\def\latin#1{\expandafter\@latin\csname c@#1\endcsname}
\def\@latin#1{\ifcase#1\or
			bis
		\or
			ter
		\or
			quater
		\or
			quinquies
		\or
			sexies
		\or
			septies
		\or
			octies
		\or
			novies
		\or
			decies
		\or
			undecies
		\or
			duodecies\fi}
\makeatother
\AddEnumerateCounter{\latin}{\@latin}{duodecies}


\newenvironment{article}[2]{\textbf{Art.\ #1\ #2}}{\par}

% Paragraphs are aligned all the way on the left page margin and text flows around the labels.
\newlist{paragraphs}{enumerate}{1}
\setlist[paragraphs]{
  label        = {\textsuperscript{\arabic*}},
  ref          = {Abs.\ \arabic*},
  align        = left,
  leftmargin   = 0em,   % Make sure text flows all the way to the left page margin.
  labelindent  = 0em,   % Make sure the labels are all the way on the left page margin.
  labelsep     = 0.5ex, % Label separation of about a space.
  labelwidth   = 1ex,   % For some reason this needs to be fixed for this to work. Makes no sense, but it works.
  itemindent   = !,     % Calculate the indent of the first line of text based on the values above.
  before*      = \nopagebreak,
  first*       = \nopagebreak,
  beginpenalty = 100000,
  midpenalty   = 1000,
  noitemsep,
  nosep,
  % Uncomment line below to bebug horizontal spacing.
  %first*       = \DrawEnumitemLabel,
}

% Paragraphs are aligned all the way on the left page margin and text flows around the labels.
\newlist{insertedparagraphs}{enumerate}{1}
\setlist[insertedparagraphs]{
  label        = {\textsuperscript{\arabic{paragraphsi}\latin*}},
  ref          = {Abs.\ \arabic{enumi}\textsuperscript{\latin*}},
  align        = left,
  leftmargin   = 0em,   % Make sure text flows all the way to the left page margin.
  labelindent  = 0em,   % Make sure the labels are all the way on the left page margin.
  labelsep     = 0.5ex, % Label separation of about a space.
  labelwidth   = 1ex,   % For some reason this needs to be fixed for this to work. Makes no sense, but it works.
  itemindent   = !,     % Calculate the indent of the first line of text based on the values above.
  before*      = \nopagebreak,
  first*       = \nopagebreak,
  beginpenalty = 100000,
  midpenalty   = 1000,
  noitemsep,
  nosep,
  % Uncomment line below to bebug horizontal spacing.
  %first*       = \DrawEnumitemLabel,
}

% The list definitions below need a solid understanding of the chapter on horizontal spacing
% in the enumitem manual (https://mirror.foobar.to/CTAN/macros/latex/contrib/enumitem/enumitem.pdf).

\newlist{letters}{enumerate}{1}
\setlist[letters]{
  label        = {\alph*.},
  ref          = {lit.\ \alph*},
  labelindent  = 3em, % How much to indent the list.
  labelwidth   = 2em, % Needs to be a known value to calculate the labelindent for the inserted list.
  labelsep     = 1em, % Needs to be a known value to calculate the labelindent for the inserted list.
  itemindent   = 0em, % The labels are never wider than the labelwidth we fixed above, therefore we can fix this.
  leftmargin   = !,   % Calculate margin to fit the fixed values.
  align        = left,
  beginpenalty = 100000,
  midpenalty   = 1000,
  noitemsep,
  % Uncomment line below to bebug horizontal spacing.
  %first*       = \DrawEnumitemLabel,
}

% This list needs to be aligned to match the indentation of letters.
\newlist{insertedletters}{enumerate}{1}
\setlist[insertedletters]{
  label        = {\alph{lettersi}\textsuperscript{\latin*}.},
  ref          = {lit.\ \alph{lettersi}\textsuperscript{\latin*}},
  labelindent  = -3em, % Place label at the same place (labelwidth + labelsep of letters)
  labelsep     = 1em,  % Ensure the separation from the label.
  leftmargin   = 0em,  % Ensure that the text starts at the same place as letters.
  labelwidth   = *,    % Ensure that the label can overflow if the latin numeral is large.
  itemindent   = !,    % Calculate to fit the fixed values.
  align        = left,
  beginpenalty = 100000,
  midpenalty   = 1000,
  noitemsep,
  % Uncomment line below to bebug horizontal spacing.
  %first*       = \DrawEnumitemLabel,
}

\newlist{numerals}{enumerate}{1}
\setlist[numerals]{
  label        = {\arabic*.},
  ref          = {\arabic*},
  align        = left,
  labelindent  = 0em, % Do not indent any more.
  labelwidth   = 2em, % Needs to be a known value to calculate the labelindent for the inserted list.
  labelsep     = 1em, % Needs to be a known value to calculate the labelindent for the inserted list.
  itemindent   = 0em, % The labels are never wider than the labelwidth we fixed above, therefore we can fix this.
  leftmargin   = !,   % Calculate margin to fit the fixed values.
  beginpenalty = 100000,
  midpenalty   = 1000,
  noitemsep,
  % Uncomment line below to bebug horizontal spacing.
  %first*       = \DrawEnumitemLabel,
}

% This list needs to be aligned to match the indentation of numerals.
\newlist{insertednumerals}{enumerate}{1}
\setlist[insertednumerals]{
  label        = {\arabic{numeralsi}\textsuperscript{\latin*}.},
  ref          = {Ziff. \arabic{numeralsi}\textsuperscript{\latin*}},
  align        = left,
  labelindent  = -3em, % Place label at the same place.
  labelsep     = 1em,  % Ensure separation between label and content.
  leftmargin   = 0em,  % Ensure that the text starts at the same place as numerals.
  labelwidth   = *,    % Ensure that the label can overflow if the latin numeral is large.
  itemindent   = !,    % Calculate to fit the fixed values.
  beginpenalty = 100000,
  midpenalty   = 1000,
  noitemsep,
  % Uncomment line below to bebug horizontal spacing.
  %first*       = \DrawEnumitemLabel,
}

((* endmacro *))
