((* macro section(sec) -*))
\section{(( sec.title | escape_tex ))}
\nobreak

((* for art in sec.articles -*))
((- article(art) ))
((* endfor *))
((* for subsec in sec.subsections -*))
(( subsection(subsec) -))
((* endfor -*))
((* endmacro *))

((* macro subsection(subsec) -*))
\subsection{(( subsec.title | escape_tex ))}
\nobreak

((* for art in subsec.articles -*))
((- article(art) ))
((* endfor *))
((* for subsubsec in subsec.subsubsections -*))
(( subsubsection(subsubsec) -))
((* endfor -*))
((* endmacro *))

((* macro subsubsection(subsubsec) -*))
\subsubsection{(( subsubsec.title | escape_tex ))}
\nobreak

((* for art in subsubsec.articles -*))
((- article(art) ))
((* endfor -*))
((* endmacro -*))
j

((* macro article(art) -*))
\begin{article}{(( art.number | escape_tex ))(( art.inserted_number | num2letter))((- changeFootnoteMark(art.changeFootnote) ))}{(( art.title | escape_tex ))}(( changeFootnote(art.changeFootnote, False) ))
  \\\nopagebreak (( set_text(art.text) ))\nopagebreak
  ((* if art.letters | length > 0 -*))
  \vspace{-\parskip}\vspace{\partopsep}\begin{letters}
  ((* for lit in art.letters -*))
    ((- letter(lit) -))
  ((* endfor -*))
  \end{letters}
  ((* endif -*))
  ((*- if art.paragraphs | length > 0 -*))
  \vspace{-2\parskip}\vspace{\partopsep}\begin{paragraphs}
    ((* for abs in art.paragraphs *))
    ((- paragraph(abs) -))\nopagebreak
    ((* endfor -*))
  \end{paragraphs}
  ((* endif -*))
\end{article}
((* endmacro *))

((* macro paragraph(abs) -*))
((* if abs.inserted_number == 1 *))
\begin{insertedparagraphs}
((*- endif -*))
((*- if abs.ended_inserted *))
\end{insertedparagraphs}
((*- endif *))
\item (( set_text(abs.text) -))(( changeFootnote(abs.changeFootnote) -))

  ((*- if abs.letters | length > 0 *))
  \begin{letters}
  ((* for lit in abs.letters -*))
    ((- letter(lit) -))
  ((* endfor -*))
  \end{letters}
  ((* endif *))
((* endmacro *))


((* macro letter(lit) -*))
((* if lit.inserted_number == 1 *))
\begin{insertedletters}
((*- endif -*))
((*- if lit.ended_inserted *))
\end{insertedletters}
((*- endif *))
\item (( set_text(lit.text) -))(( changeFootnote(lit.changeFootnote) -))

  ((*- if lit.numerals | length > 0 *))
  \begin{numerals}
  ((* for num in lit.numerals -*))
    ((- numeral(num) -))
  ((* endfor -*))
  \end{numerals}
  ((* endif *))
((* endmacro *))

((* macro numeral(num) -*))
((* if num.inserted_number == 1 *))
\begin{insertednumerals}
((*- endif -*))
((*- if num.ended_inserted *))
\end{insertednumerals}
((*- endif *))
\item (( set_text(num.text) -))(( changeFootnote(num.changeFootnote) -))
((* endmacro *))

((* macro changeFootnoteMark(chng) -*))
((*- if chng -*))
\footnotemark
((*- endif *))
((*- endmacro *))

((* macro changeFootnote(chng, complete=True) -*))
((*- if chng -*))
\footnote((* if complete is false *))text((* endif *)){(( chng.action_str | trim | escape_tex )) Beschluss (( chng.gremium_str | trim | escape_tex )) in Traktandum (( chng.agenda_item | trim | escape_tex)) in der Sitzung vom (( chng.meeting_date | format_date ))
((*- if chng.motion_link and chng.minutes_link *))
(\href{(( chng.motion_link | escape_tex ))}{Antrag}, \href{(( chng.minutes_link | escape_tex ))}{Protokoll})
((*- elif chng.motion_link *))
(\href{(( chng.motion_link | escape_tex ))}{Antrag})
((*- elif chng.minutes_link *))
(\href{(( chng.minutes_link | escape_tex ))}{Protokoll})
((*- endif -*))
, (( chng.effect_str )) seit (( chng.implementation_date | format_date )).}
((*- endif -*))
((*- endmacro *))

((*- macro set_text(text_elems, trim=True) -*))
  ((*- for elem in text_elems -*))
    ((*- if elem is string -*))
((* if trim *))(( elem | trim | escape_tex ))((* else *))(( elem | escape_tex ))((* endif *))
    ((*- elif "Link" == elem.__class__.__name__ *))
\href{(( elem.to ))}{(( elem.link_text | escape_tex ))}(( set_tail(elem.tail) ))
    ((*- elif "Quote" == elem.__class__.__name__ *))
``(( elem.quote | trim | escape_tex ))''(( set_tail(elem.tail) ))
    ((*- elif "Footnote" == elem.__class__.__name__ -*))
\footnote{(( elem.text | trim | escape_tex))}(( set_tail(elem.tail) ))
    ((*- elif "ChangeFootnote" == elem.__class__.__name__ *))
      ((#- Change footnotes are typeset the elements. Therefore, we only typest ellipsis if the element was deleted or the text following. -#))
      ((*- if elem.action == "deleted" -*))
\textellipsis
      ((*- else -*))
(( set_text(elem.tail) ))
      ((*- endif -*))
    ((*- endif -*))
  ((*- endfor -*))
((*- endmacro -*))

((*- macro set_tail(tail) -*))
((*- if tail | length > 0 -*))
(( set_text(tail, trim=False) ))
((*- endif -*))
((*- endmacro -*))

((* macro header(asset_path, do_header=True) *))
\documentclass{scrreprt}
\KOMAoptions{DIV = 14, chapterentrydots, parskip}
\usepackage[utf8]{inputenc}
\usepackage[OT1]{fontenc}
\usepackage{microtype}
\usepackage[all]{nowidow}
\usepackage{geometry}
\usepackage{enumitem}
\usepackage{graphicx}
\usepackage{svg}
\usepackage{array}
\usepackage{booktabs}
\usepackage{longtable}
\usepackage{setspace}
\usepackage{float}
\usepackage{lastpage}
\usepackage{scrlayer-scrpage}
\usepackage[default,regular,bold]{sourcesanspro}
\usepackage{xcolor}
\definecolor{vsethcyan}{cmyk}{100,0,0,0}
\definecolor{salsared}{cmyk}{0,89,66,0}


% Must be the last package loaded.
\usepackage{hyperref}
\hypersetup{
  % colors
  colorlinks={true},
  linkcolor={vsethcyan},
  urlcolor={vsethcyan},
  % bookmarks in PDF
  bookmarksnumbered={true},
  % Only numbers in TOC should be links, as all the cyan in kinda ugly.
  linktoc={page}
} 

% More error context
\errorcontextlines=10

% Commands
\makeatletter
\newcommand{\@documentdate}{Change with \texttt{\textbackslash setdate\{date\}}}
\newcommand{\setdate}[1]{
    \renewcommand{\@documentdate}{#1}
}
\makeatother

\setcounter{secnumdepth}{3}
\renewcommand*{\thesection}{\arabic{section}}
\RedeclareSectionCommand[afterskip=0pt, runin=false, tocindent=1em, tocnumwidth=1.25em]{section}
\RedeclareSectionCommand[afterskip=0pt, runin=false, tocindent=3.25em, tocnumwidth=2em]{subsection}
\RedeclareSectionCommand[afterskip=0pt, runin=false]{subsubsection}
\setkomafont{title}{\fontseries{b}\fontsize{26}{32}\selectfont}
\setkomafont{subtitle}{\fontseries{m}\fontsize{15}{19}\selectfont \color{gray}}
\setkomafont{chapter}{\fontseries{b}\fontsize{26}{32}\selectfont}
\setkomafont{subtitle}{\fontseries{m}\fontsize{15}{19}\selectfont \color{gray}}
\setkomafont{section}{\fontseries{b}\fontsize{20}{25}\selectfont}
\setkomafont{subsection}{\fontseries{b}\fontsize{16}{20}\selectfont \color{vsethcyan}}
\setkomafont{subsubsection}{\fontseries{b}\fontsize{14}{17}\selectfont}

% Page setup
\geometry{
    paper=a4paper,
    includeheadfoot,
    top=2cm,
    bottom=2cm,
    left=3cm,
    right=3cm,
    head=41pt,
    headsep=1cm,
    foot=41pt,
    footskip=0.6cm,
    verbose=true,
}

% Header/footer
\setkomafont{pageheadfoot}{\sffamily}
\cfoot*{
    \textbf{- \thepage\ / \pageref*{LastPage} -} \\
    \noindent\textcolor{vsethcyan}{\rule\textwidth{1mm}} \\
}

\ihead*{
        \includesvg[width=57mm]{(( asset_path ))/vseth_Logo_bylines_Verband.svg}
}

((* if do_header is true *))
% First page
\makeatletter
\ohead[
        \begin{tabular}{>{\raggedright}p{1.1cm}p{2.5cm}}
            {\fontseries{m}\selectfont \textcolor{vsethcyan}{D}} & \@documentdate \\ & \\
        \end{tabular}
]{}
\makeatother
((* endif *))

% Behavior of \maketitle
\makeatletter
\renewcommand{\maketitle}{\bgroup\setlength{\parindent}{0pt}
    \vspace*{0.5cm} % for some reasor the effective space is twice as large
    \begin{flushleft}
        {\usekomafont{title} \@title}\par\vspace*{14pt}{\usekomafont{subtitle} \@subtitle}
    \end{flushleft}\egroup\thispagestyle{plain.scrheadings}\vspace*{4pt}
}
\makeatother

% Define a counter representation (like arabic) for latin numerals (from chapter 8 of the enumitem manual)
% The numerals are arbitrarily limited to 12 as everything above is both too wide and too unreasonable for
% mhaessig's taste.
\makeatletter
\def\latin#1{\expandafter\@latin\csname c@#1\endcsname}
\def\@latin#1{\ifcase#1\or
			bis
		\or
			ter
		\or
			quater
		\or
			quinquies
		\or
			sexies
		\or
			septies
		\or
			octies
		\or
			novies
		\or
			decies
		\or
			undecies
		\or
			duodecies\fi}
\makeatother
\AddEnumerateCounter{\latin}{\@latin}{duodecies}


\newenvironment{article}[2]{\textbf{Art.\ #1\ #2}}{\par}

% Paragraphs are aligned all the way on the left page margin and text flows around the labels.
\newlist{paragraphs}{enumerate}{1}
\setlist[paragraphs]{
  label        = {\textsuperscript{\arabic*}},
  ref          = {Abs.\ \arabic*},
  align        = left,
  leftmargin   = 0em,   % Make sure text flows all the way to the left page margin.
  labelindent  = 0em,   % Make sure the labels are all the way on the left page margin.
  labelsep     = 0.5ex, % Label separation of about a space.
  labelwidth   = 1ex,   % For some reason this needs to be fixed for this to work. Makes no sense, but it works.
  itemindent   = !,     % Calculate the indent of the first line of text based on the values above.
  before*      = \nopagebreak,
  first*       = \nopagebreak,
  beginpenalty = 100000,
  midpenalty   = 1000,
  noitemsep,
  nosep,
  % Uncomment line below to bebug horizontal spacing.
  %first*       = \DrawEnumitemLabel,
}

% Paragraphs are aligned all the way on the left page margin and text flows around the labels.
\newlist{insertedparagraphs}{enumerate}{1}
\setlist[insertedparagraphs]{
  label        = {\textsuperscript{\arabic{paragraphsi}\latin*}},
  ref          = {Abs.\ \arabic{enumi}\textsuperscript{\latin*}},
  align        = left,
  leftmargin   = 0em,   % Make sure text flows all the way to the left page margin.
  labelindent  = 0em,   % Make sure the labels are all the way on the left page margin.
  labelsep     = 0.5ex, % Label separation of about a space.
  labelwidth   = 1ex,   % For some reason this needs to be fixed for this to work. Makes no sense, but it works.
  itemindent   = !,     % Calculate the indent of the first line of text based on the values above.
  before*      = \nopagebreak,
  first*       = \nopagebreak,
  beginpenalty = 100000,
  midpenalty   = 1000,
  noitemsep,
  nosep,
  % Uncomment line below to bebug horizontal spacing.
  %first*       = \DrawEnumitemLabel,
}

% The list definitions below need a solid understanding of the chapter on horizontal spacing
% in the enumitem manual (https://mirror.foobar.to/CTAN/macros/latex/contrib/enumitem/enumitem.pdf).

\newlist{letters}{enumerate}{1}
\setlist[letters]{
  label        = {\alph*.},
  ref          = {lit.\ \alph*},
  labelindent  = 3em, % How much to indent the list.
  labelwidth   = 2em, % Needs to be a known value to calculate the labelindent for the inserted list.
  labelsep     = 1em, % Needs to be a known value to calculate the labelindent for the inserted list.
  itemindent   = 0em, % The labels are never wider than the labelwidth we fixed above, therefore we can fix this.
  leftmargin   = !,   % Calculate margin to fit the fixed values.
  align        = left,
  beginpenalty = 100000,
  midpenalty   = 1000,
  noitemsep,
  % Uncomment line below to bebug horizontal spacing.
  %first*       = \DrawEnumitemLabel,
}

% This list needs to be aligned to match the indentation of letters.
\newlist{insertedletters}{enumerate}{1}
\setlist[insertedletters]{
  label        = {\alph{lettersi}\textsuperscript{\latin*}.},
  ref          = {lit.\ \alph{lettersi}\textsuperscript{\latin*}},
  labelindent  = -3em, % Place label at the same place (labelwidth + labelsep of letters)
  labelsep     = 1em,  % Ensure the separation from the label.
  leftmargin   = 0em,  % Ensure that the text starts at the same place as letters.
  labelwidth   = *,    % Ensure that the label can overflow if the latin numeral is large.
  itemindent   = !,    % Calculate to fit the fixed values.
  align        = left,
  beginpenalty = 100000,
  midpenalty   = 1000,
  noitemsep,
  % Uncomment line below to bebug horizontal spacing.
  %first*       = \DrawEnumitemLabel,
}

\newlist{numerals}{enumerate}{1}
\setlist[numerals]{
  label        = {\arabic*.},
  ref          = {\arabic*},
  align        = left,
  labelindent  = 0em, % Do not indent any more.
  labelwidth   = 2em, % Needs to be a known value to calculate the labelindent for the inserted list.
  labelsep     = 1em, % Needs to be a known value to calculate the labelindent for the inserted list.
  itemindent   = 0em, % The labels are never wider than the labelwidth we fixed above, therefore we can fix this.
  leftmargin   = !,   % Calculate margin to fit the fixed values.
  beginpenalty = 100000,
  midpenalty   = 1000,
  noitemsep,
  % Uncomment line below to bebug horizontal spacing.
  %first*       = \DrawEnumitemLabel,
}

% This list needs to be aligned to match the indentation of numerals.
\newlist{insertednumerals}{enumerate}{1}
\setlist[insertednumerals]{
  label        = {\arabic{numeralsi}\textsuperscript{\latin*}.},
  ref          = {Ziff. \arabic{numeralsi}\textsuperscript{\latin*}},
  align        = left,
  labelindent  = -3em, % Place label at the same place.
  labelsep     = 1em,  % Ensure separation between label and content.
  leftmargin   = 0em,  % Ensure that the text starts at the same place as numerals.
  labelwidth   = *,    % Ensure that the label can overflow if the latin numeral is large.
  itemindent   = !,    % Calculate to fit the fixed values.
  beginpenalty = 100000,
  midpenalty   = 1000,
  noitemsep,
  % Uncomment line below to bebug horizontal spacing.
  %first*       = \DrawEnumitemLabel,
}

((* endmacro *))
