((#
  # Template for a LaTeX regulation
  # 
  # Since LaTeX does not play nicely with {% %}, use ((* *))
  #))

((* from "macros.tex.j2" import header, section_monolingual, article_mononlingual with context *))

\documentclass[headers, monolingual=true]{assets/latex/vseth-bylaws}

\title{(( regl.title[GLOBAL_LANGUAGE] | escape_tex ))}
((* set shortid *))
  ((*- if regl.abbrev is not none -*))(( regl.abbrev | escape_tex )); ((* endif *))(( regl.id | escape_tex -))
((* endset *))
((* set subtitle *))
  ((*- if regl.short is not none -*))(( regl.short | escape_tex ))((*- endif -*))
  ((*- if regl.short is not none and regl.abbrev is not none -*)); ((* endif *))
  ((*- if regl.abbrev is not none -*))(( regl.abbrev | escape_tex ))((*- endif -*))
((* endset *))
((* if regl.short is not none *))
\subtitle{((- subtitle )); RSVSETH (( shortid | escape_tex -))}
((* else *))
\subtitle{RSVSETH (( shortid | escape_tex -))}
((* endif *))

\setdate{(( regl.date_last_update | format_date ))}
\begin{document}
\maketitle

((* if regl.preamble is defined *))
\emph{((- set_text(regl.preamble.text) -))(( changeFootnoteMark(regl.preamble.changeFootnote) ))(( changeFootnote(regl.preamble.changeFootnote) ))}
((* endif *))

((* for art in regl.articles -*))
  ((- set_multilingual_articles(regl.articles, GLOBAL_LANGUAGE) ))
((* endfor -*))
((* for sec in regl.sections -*))
  ((- section_monolingual(sec, GLOBAL_LANGUAGE) -))
((* endfor *))

\end{document}
 