((#
  # Template for a LaTeX regulation
  # 
  # Since LaTeX does not play nicely with {% %}, use ((* *))
  #))

((* from "macros.tex.j2" import handle_text, header, section_monolingual, article_monolingual with context *))

\documentclass[headers, monolingual=true]{assets/latex/vseth-bylaws}

\title{(( regl.title[GLOBAL_LANGUAGE] | escape_tex ))}
((* set shortid *))
  ((*- if regl.abbrev[GLOBAL_LANGUAGE] is not none -*))(( regl.abbrev | escape_tex )); ((* endif *))(( regl.id | escape_tex -))
((* endset *))
((* set subtitle *))
  ((*- if regl.short[GLOBAL_LANGUAGE] is not none -*))(( regl.short[GLOBAL_LANGUAGE] | escape_tex ))((*- endif -*))
  ((*- if regl.short[GLOBAL_LANGUAGE] is not none and regl.abbrev[GLOBAL_LANGUAGE] is not none -*)); ((* endif *))
  ((*- if regl.abbrev[GLOBAL_LANGUAGE] is not none -*))(( regl.abbrev[GLOBAL_LANGUAGE] | escape_tex ))((*- endif -*))
((* endset *))
((* if regl.short[GLOBAL_LANGUAGE] is not none *))
\subtitle{((- subtitle )); RSVSS (( shortid | escape_tex -))}
((* else *))
\subtitle{RSVSS (( shortid | escape_tex -))}
((* endif *))

\setdate{(( regl.date_last_update | format_date ))}
\begin{document}
\maketitle

((* if regl.preamble is defined *))
  ((* for text_element in regl.preamble.text *))
    \emph{\large{((- handle_text(text_element, GLOBAL_LANGUAGE) -))}}
  ((* endfor *))
  \par
((* endif *))
((* for art in regl.articles -*))
  ((- article_monolingual(art, GLOBAL_LANGUAGE) -))
  ((* if not loop.last *))\par((* endif *))
((* endfor -*))
((* for sec in regl.sections -*))
  ((- section_monolingual(sec, GLOBAL_LANGUAGE) -))
((* endfor *))

\end{document}
 