((#
  # Template for a LaTeX regulation
  # 
  # Since LaTeX does not play nicely with {% %}, use ((* *))
  #))

((* from "macros.tex.j2" import header, section_bilingual, article_mononlingual, set_multilingual_title, set_multilingual_preamble, set_multilingual_article with context *))

\documentclass[monolingual=false]{assets/latex/vseth-bylaws}

\title{(( set_multilingual_title(regl.title, GLOBAL_LANGUAGE_LIST) | escape_tex ))}
((* set shortid *))
  ((*- if regl.abbrev[GLOBAL_LANGUAGE] is not none -*))(( set_multilingual_title(regl.abbrev, GLOBAL_LANGUAGE_LIST) | escape_tex )); ((* endif *))(( regl.id | escape_tex -))
((* endset *))
((* set subtitle *))
  ((*- if regl.short[GLOBAL_LANGUAGE] is not none -*))(( set_multilingual_title(regl.short, GLOBAL_LANGUAGE_LIST) | escape_tex ))((*- endif -*))
  ((*- if regl.short[GLOBAL_LANGUAGE] is not none and regl.abbrev[GLOBAL_LANGUAGE] is not none -*)); ((* endif *))
  ((*- if regl.abbrev[GLOBAL_LANGUAGE] is not none -*))(( set_multilingual_title(regl.abbrev, GLOBAL_LANGUAGE_LIST) | escape_tex ))((*- endif -*))
((* endset *))
((* if regl.short[GLOBAL_LANGUAGE] is not none *))
\subtitle{((- subtitle )); RSVSS (( shortid | escape_tex -))}
((* else *))
\subtitle{RSVSS (( shortid | escape_tex -))}
((* endif *))

\setdate{(( regl.date_last_update | format_date ))}
\begin{document}
\maketitle

((* if regl.preamble is defined *))
  (( set_multilingual_preamble(regl.preamble.text, GLOBAL_LANGUAGE_LIST) -))
((* endif *))

((* for art in regl.articles -*))
  ((- set_multilingual_article(art, GLOBAL_LANGUAGE_LIST) ))
((* endfor *))
((* for sec in regl.sections -*))
  ((- section_bilingual(sec, GLOBAL_LANGUAGE_LIST) -))
((* endfor *))

\end{document}
 