{#
 # Template for individual regulations in a CSV
 # 
 # This template is organized into the document body at the bottom and a set of macros
 # for all the different classes in bylaws at the top.
 #
 # The main use for this is to create tables for Statutenrevisionen.
 #}


{#
 # Section
 #}
{% macro section(sec) -%}
"{{ sec.number }}. {{sec.title}}"
{% for art in sec.articles -%}
{{ article(art) }}
{%- endfor -%}
{%- for subsec in sec.subsections -%}
{{- subsection(subsec) -}}
{%- endfor -%}
{%- endmacro -%}

{# 
 # Subsection
 #}
{% macro subsection(subsec) -%}
"{{ subsec.sec }}.{{ subsec.number }}. {{subsec.title}}"
{% for art in subsec.articles -%}
{{ article(art) }}
{%- endfor -%}
{%- for subsubsec in subsec.subsubsections -%}
{{- subsubsection(subsubsec) -}}
{%- endfor -%}
{%- endmacro -%}

{# 
 # Subsubsection
 #}
{% macro subsubsection(subsubsec) -%}
"{{subsubsec.sec }}.{{subsubsec.subsec }}.{{ subsubsec.number }}. {{subsubsec.title}}"
{% for art in subsubsec.articles -%}
{{ article(art) }}
{%- endfor -%}
{%- endmacro -%}

{# 
 # Articles
 #}
{% macro article(art) -%}
"Art. {{ art.number }}{{ art.inserted_number | num2letter }}. {{ art.title }}
{{ set_text(art.text) }}
{%- if art.letters | length > 0 %}
{% for lit in art.letters -%}
{{ letter(lit) }}
{%- endfor -%}
{%- endif -%}
{%- for abs in art.paragraphs -%}
{{ paragraph(abs) }}   
{%- endfor -%}"
{% endmacro -%}

{# 
 # Paragraphs
 #}
{%- macro paragraph(abs) -%}
{{ abs.number }}{{ abs.inserted_number | num2latin }} {{ set_text(abs.text) }} 
{% if abs.letters | length > 0 %}
{%- for lit in abs.letters -%}
{{ letter(lit) }}
{%- endfor -%}
{%- endif -%}
{% endmacro %}

{# 
 # Letters
 #}
{% macro letter(lit) -%}
{{ lit.number | num2letter }}{% if lit.inserted %}{{ lit.inserted_number | num2latin }}{% endif %}. {{ set_text(lit.text) }}
{%- if lit.numerals | length > 0 %}
{% for num in lit.numerals -%}
{{ numeral(num) }}
{%- endfor -%}
{%- endif %}
{% endmacro %}

{# 
 # Numerals
 #}
{% macro numeral(num) -%}
{{ num.number }}{% if num.inserted %}{{ num.inserted_number | num2latin }}{% endif %}. {{ set_text(num.text) }}
{% endmacro %}

{# 
 # Setting text elements
 # In almost all cases we want trim=True. But when we set the tail
 # (i.e. text after quote) we have to keep any leading spaces and
 # therefore have to use trim=False.
 #}
{%- macro set_text(text_elems, trim=True) -%}
    {%- for elem in text_elems -%}
        {%- if elem is string -%}
{%- if trim -%}{{- elem|trim -}}{%- else %}{{ elem | trim("\t\n") -}}{%- endif -%}
        {%- elif "Link" in elem.__class__.__name__ %} {{elem.link_text}}{{ set_tail(elem.tail) -}}
        {%- elif "Quote" in elem.__class__.__name__ %} “{{ elem.quote|trim }}”{{ set_tail(elem.tail) -}}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}

{%- macro set_tail(tail) -%}
{%- if tail | length > 0 %}{{ set_text(tail, trim=False) -}}
{%- endif -%}
{%- endmacro -%}

{# 
 # Document Body
 #}
{{- regl.title}},"RSVSETH {{regl.id}}
{%- if regl.short is not none or regl.abbrev is not none %} (
    {%- if regl.short is not none -%}{{regl.short}}{%- endif -%}
    {%- if regl.short is not none and regl.abbrev is not none -%}; {% endif %}
    {%- if regl.abbrev is not none -%}{{regl.abbrev}}{%- endif -%})
{%- endif -%}"
{% if regl.preamble is defined %}
"{{ set_text(regl.preamble.text) }}"
{% endif -%}
{%- for art in regl.articles %}
{{ article(art) }}
{% endfor -%}
{%- for sec in regl.sections -%}
{{- section(sec) -}}
{%- endfor %}
